@keyframes pulse {
  0% {
    margin: 0;
  }
  50% {
    margin: 5px;
  }
  100% {
    margin: 0;
  }
}

@keyframes pain {
  0% {
    background-color: rgba(137, 205, 214, 0.82);
  }
  50% {
    background-color: rgba(252, 63, 63, 0.82);
  }
  100% {
    background-color: rgba(137, 205, 214, 0.82);
  }
}

@keyframes joy {
  0% {
    background-color: rgba(137, 205, 214, 0.82);
  }
  50% {
    background-color: rgba(28, 255, 58, 0.82);
  }
  100% {
    background-color: rgba(137, 205, 214, 0.82);
  }
}

body {
  display: flex;
  flex-direction: row;
  background: beige;
  font-family: 'Open Sans', sans-serif;
}

.gameSlide {
  display: none;
  padding: 20px 50px;
}

.intro {
  width: 100%;
  height: 100%;
  min-height: 600px;
  justify-content: center;
  align-items: center;
}

.gridly {
  background: rgba(137, 205, 214, 0.82);
  border-radius: 50px;
  min-width: 120px;
  min-height: 120px;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 25px #FFF;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.gridly.pain {
  animation-name: pain;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.gridly.joy {
  animation-name: joy;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.gridly.dead {
  animation: none;
  background: rgba(255, 255, 255, 0.8) url(../assets/skull.png);
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: hard-light;
}

.gridly.dead .smile {
  display: none;
}

.gridly i {
  background: url("../assets/slimeface.png");
  height: 24px;
  width: 77px;
}

.gridContainer {
  display: grid;
  grid-gap: 16px;
  padding: 10px;
  background-size: 200px 200px;
  height: 600px;
  width: 800px;
  overflow: hidden;
  grid-auto-flow: row;
  grid-template-columns: [w] minmax(187px, auto) [x] minmax(187px, auto) [y] minmax(187px, auto) [z] minmax(187px, auto);
  grid-template-rows: [a] 1fr [b] 1fr [c] 1fr [d] 1fr;
}

.gridContainer#bottomGrid {
  background: url("../assets/roadrocks.png");
}

.gridContainer#topGrid {
  position: absolute;
}

.gridContainer article {
  background: url("../assets/grass256.png");
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer article.gridly {
  background: rgba(137, 205, 214, 0.82);
}

.gridContainer article.gridly.dead {
  animation: none;
  background: rgba(255, 255, 255, 0.8) url(../assets/skull.png);
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: hard-light;
}

.gridContainer article.gridly.dead .smile {
  display: none;
}

.gridContainer article.guard i {
  background: url("../assets/guard.gif");
  height: 100px;
  width: 100px;
  background-size: cover;
}

.gridContainer article.tower i {
  background: url("../assets/tower.gif");
  height: 100px;
  width: 100px;
  background-size: cover;
}

.choiceContainer {
  flex: 150px 0 0;
  font-size: 25px;
  border: 8px solid aliceblue;
  background: white;
  padding: 10px;
  min-height: 350px;
  margin-right: 20px;
}

.choiceContainer > article {
  margin-bottom: 20px;
}

.choiceContainer > article:hover, .choiceContainer > article:active {
  cursor: pointer;
  color: #a7d0e0;
}

.choiceContainer > article:hover .choiceTitle, .choiceContainer > article:active .choiceTitle {
  color: black;
}

.choiceContainer .choiceTitle {
  font-weight: bold;
}

.cssBox {
  margin-left: 30px;
  font-size: 25px;
  flex: 250px 0 0;
}

.editDiv {
  display: inline-block;
}

.indent {
  margin-left: 20px;
}

#roadmap {
  background: white;
  padding: 10px 0;
  border: aliceblue 8px solid;
  margin-top: 20px;
  padding-left: 20px;
  min-height: 20px;
  font-size: 20px;
  display: none;
}

#roadmap h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

#roadmap > div {
  margin-bottom: 15px;
}

#heartbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: white;
  padding: 10px 0;
  border: aliceblue 8px solid;
  margin-top: 20px;
  padding-left: 20px;
  min-height: 20px;
}

#heartbox .heart {
  background-image: url("../assets/heart.png");
  height: 30px;
  width: 30px;
  margin-right: 20px;
  background-size: cover;
}

#heartbox img {
  height: 30px;
  width: 30px;
  align-self: center;
}

#endTitle {
  font-size: 30px;
}

.attrList {
  border: 8px solid aliceblue;
  background: white;
  padding: 10px;
  height: 150px;
  font-size: 20px;
}
